

<div class="container my-4">
<div class="cocktail_details">
<h1> Your selected cocktail: <%= @cocktail.name %></h1>
<h2> Your dose:</h1>

<h1><% @cocktail.doses.each do |dose| %></h1>
<h2><%= dose.description %> <%= dose.ingredient.name %></h2>
<h2 class="btn btn-alert"><%= link_to 'Delete',dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'}  %></h2>
<% end %>
<br>
<div class="btn btn-primary">
<%= link_to('Add a dose', new_cocktail_dose_path(@cocktail)) %>
</div>
<div class="btn btn-primary">
<%= link_to('Back to overview', cocktails_path) %>
</div>
</div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>


  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>


</div>
